.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-gray {
    color: var(--text-gray);
}

.mw-600 {
    max-width: 600px;
}

.m-auto {
    margin: 0 auto;
}

.text-xs {
    font-size: 12px;
}